body{
  background-color: #FEF5ED;
  margin: 0;
}
.menu{
  background-color: #112B3C;
}
.dropdown-menu{
  background-color: #99A799;
}

table {
    border-collapse: separate;
    border-spacing: 0 1em;
}

.page{
  background-color: #D3E4CD;
}
.form-group{
  padding: 10px 0;
}

.content{
  width: 500px;
}

.post-content{
  width: 230px;
  display: inline-block;
  text-align: left;
}

.post-image{
  padding-left: 20px;
  margin-right: auto;
}

.post-writer{
  text-align: left;
}
.post-image{
  height: 100px;
  width: 100px;
}

.green{
  background: green;
}

.red{
  background: red;
}

.like{
  margin-right: 10px;
}

.dislike{
  margin-left: 10px;
}

@media (max-width: 900px) {
  .left-div{
    padding: 20px 0 20px;
    width: 200px;
  }

}
