.bg{
  background-color: #D6E5FA;
  padding: 50px;
}

.glow-it{
  border-radius: 25px;
  box-shadow: -5px 10px 40px 10px #D6E5FA;
}

nav{
  background-color: #C4DDFF;
}

body{
  background-color: #292C6D;
}

.bin{
  margin:100px 35%;
}

.img-glow{
  box-shadow: -5px 10px 20px 1px #292C6D;
}

.notes{
  float: right;
  margin-right: 130px;
  box-shadow: -5px 10px 20px 1px #292C6D;
}
